.form-control[id='uploadFile']{
    width: 74%;
    display: inline-block;
}
        .custom-file-input {
		display: inline-block;
		position: relative;
		color: #533e00;
	}
	.custom-file-input input {
		visibility: hidden;
		width: 100px;
	}
	.custom-file-input:before {
		content: 'Choose File';
		display: block;
		background: -webkit-linear-gradient( -180deg, #337ab7, #337ab7);
                background: -o-linear-gradient( -180deg, #337ab7, #337ab7);
                background: -moz-linear-gradient( -180deg, #337ab7, #337ab7);
                background: linear-gradient( -180deg, #337ab7, #337ab7);
		border: 3px solid #dca602;
		border-radius: 10px;
		padding: 5px 0px;
		outline: none;
		white-space: nowrap;
		cursor: pointer;
		
		font-weight: bold;
		text-align: center;
		font-size: 10pt;
		position: absolute;
		left: 0;
		right: 0;
                border-color: #2e6da4;
                color: #FFF;
	}
	.custom-file-input:hover:before {
		border-color: #337ab7;
	}
		.custom-file-input:active:before {
		background: #337ab7;
	}